*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}


/* ===========================
   Custom Scrollbar
=========================== */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #111;
}

::-webkit-scrollbar-thumb {
  background: var(--color-primary);
  border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ff845f;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #f0673d99 #fffcfc;
}

body {
  font-family: "Inter", sans-serif;
  color: #222;
  background: #fff;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

button,
input,
textarea {
  font: inherit;
}