$tablet: 992px;
$mobile: 768px;

.container {
    position: relative;
    padding: 40px 60px;
    max-width: 1440px;
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
}

.secondCard {
    position: relative;
    top: 100px;

}

.headerBg {
    background-color: #f2f2f2;
    padding: 62px 20px 304px;
    border-radius: 12px;
    text-align: center;

    @media (max-width: $mobile) {
        margin: 0 20px;
        padding: 32px 31px 128px;
    }
}

.heading {
    font-size: 40px;
    font-weight: 700;
    color: #111111;
    margin: 0;

    @media (max-width: $mobile) {
        font-size: 28px;
    }
}

.cardsWrapper {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: -260px;
    padding: 0px 60px 80px 0;

    @media (max-width: $tablet) {
        flex-direction: row;
        flex-wrap: wrap;
        padding: 0 20px;
        margin-top: -180px;
    }

    @media (max-width: $mobile) {
        flex-direction: column;
        align-items: center;
        gap: 24px;
        margin-top: -80px;
    }
}